:root {
    --blue: #332885;
    --white: #fffdfd;
    --yellow: rgb(229, 229, 58);
    --red: rgb(255, 94, 0);
    --color: rgb(226, 170, 64);
}

* {
    font-family: 'Noto Sans', sans-serif;
}

.navbar {
    background-color: var(--color);
    color: var(--white);
    min-height: 80px;
    border-radius: 20px;
    margin: 10px 10px 0px 10px;
}

.navbar h3 {
    padding: 30px 0px 20px 60px;
    font-weight: 400;
    color: var(--white);
}

.navbar a {
    text-decoration: none;
}

.navbar h3:hover {
    color: var(--blue);
}

.section-1 {
    margin: 20px -8px 60px -30px;
}

.container-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    width: fit-content;
    height: 680px;
}

.container-1 h2 {
    margin: 0px 0px 30px 100px;
    /* color: var(--white); */
    font-weight: bold;
    font-size: 100px;
    word-spacing: 5px;
    background: -webkit-linear-gradient(rgb(195, 102, 102), rgb(51, 51, 51));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-1 p {
    font-weight: 500;
    text-align: justify;
    margin: 0px 0px 30px 100px;
    text-align: justify;
}

.container-1 img {
    width: 600px;
    height: 350px;
    margin: 40px;
    /* border: 2px solid greenyellow; */
}

.section-2 {
    margin: 150px 150px 60px 150px;
}

.container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: -15px;
    align-items: center;
    justify-content: center;
}

#text {
    background-image: linear-gradient(#5efce8, #736efe);
    border-radius: 20px;
    min-height: 340px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-left: 0px;
}

#img {
    background-image: linear-gradient(#fdfbfb, #ebedee);
    border: dotted;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px;
    min-height: 330px;
}

.container-2 img {
    width: 300px;
    height: 215px;
    padding: 75px 0px 40px 155px;
}

.container-2 h2 {
    padding: 80px 0px 0px 110px;
}

.container-2 p {
    padding: 0px 70px 0px 110px;
    text-align: justify;
}

.container-2 #text button {
    background: #ff4e50;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: var(--white);
    margin-left: 110px;
}

.section-3 {
    margin: 60px 90px 0px 130px;
}

.container-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: -15px;
    align-items: center;
    justify-content: center;
    margin: 70px -76px 0px 14px;
}

.section-3 h2 {
    margin: 120px 0px 0px 410px;
    font-size: 45px;
}

#award-1 img {}

#award-2 img {}

#award-3 img {
    margin-top: 17px;
    height: 200px;
}

#award-4 img {
    height: 220px;
}

#award-1 p,
#award-2 p,
#award-3 p,
#award-4 p {
    margin-top: 10px;
}

h6 {
    margin-top: 0px;
    margin-left: 93px;
    font-weight: bold;
    font-size: larger;
    color: #f2b62a;
}

.section-4 h2 {
    margin: 75px 0px 50px 550px;
    font-size: 45px;
}

.container-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
}

.container-4 .member-1,
.member-2,
.member-3,
.member-4,
.member-5 {
    border: 3px dashed rgb(0, 0, 0);
    border-radius: 30px;
    width: 360px;
    height: 380px;
    margin: 0px 40px;
}

.container-4 img {
    width: 150px;
    height: 90px;
    padding: 35px 0px 0px 108px;
}

.container-4 h3 {
    padding-left: 130px;
}

.container-4 p {
    padding: 0px 40px;
}

.container-5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#c33764, #1d2671);
    margin: 100px -8px -18px -8px;
    height: 400px;
}

.container-5 .column-1 {
    margin-left: 30px;
}

.container-5 .column-2 {}

.container-5 .column-3 #name {
    background: none;
    margin-bottom: 10px;
    border-color: #5efce8;
}

.container-5 .column-3 #email {
    background: none;
    margin-bottom: 10px;
    border-color: #5efce8;
}

.container-5 .column-3 #query {
    background: none;
    margin-bottom: 10px;
    border-color: #5efce8;
    color: grey;
}

.container-5 .column-3 button {
    background: none;
    margin-bottom: 10px;
    border-color: #5efce8;
    width: 100px;
    padding: 10px;
    font-size: medium;
}